.backgroundImg {
    overflow: hidden;
    
    height: 700px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/img/background.jpg");
    background-size: cover;
    /*background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));*/


}