.backgroundImg {
    overflow: hidden;
    
    height: 700px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/img/background.jpg");
    background-size: cover;
    /*background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));*/


}

#motto {
    font-size: 100px; 
    color: white; 
    font-weight: bold; 
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: .25px;
    opacity: 1;
}

#chainButton {
    height: 200px;
    background-image: url('https://www.pngkey.com/png/full/80-805911_clip-art-free-library-bicycle-png-for-motorcycle.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}